@{
    ViewBag.Title = "Inicio";
}
@section Styles{
    @Styles.Render("~/Content/css/jquery.dataTables.min.css")
    @Styles.Render("~/Content/datatables.extensions/Scroller/css/dataTables.scroller.css")
    @Styles.Render("~/Content/datatables.extensions/Responsive/css/dataTables.responsive.css") 
    @Styles.Render("~/Content/datatables.extensions/FixedHeader/css/dataTables.fixedHeader.min.css")
    @Styles.Render("~/Content/Project/CSS/HomeIndex.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/Project/JS/HomeIndex.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
}

<div class="row">
    <table id="ProductTable" class="table table-striped table-hover ">
        <thead>
            <tr>
                <th scope="col">SKU</th>
                <th scope="col">Nombre</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Precio de Compra</th>
            </tr>
        </thead>

        <tbody id="ProductTableBody"></tbody>
    </table>
</div>

@Html.Hidden("URLProducts", Url.Action("GetProducts", "Producto"))

